<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
</head>
<body>
<div>

    <div class="day">
        <table>
            <tr>
                <th>Frente</th>
                <th>Verso</th>
                <th>Container</th>

            </tr>
            <tr th:object="${card}" th:each="card : ${allCards}">
                <div th:if="*{container == T(com.github.sammejanderson.StudyAssistApp.enums.Container).DAY}">
                    <td th:text="*{front}"/>
                    <td th:text="*{verse}"/>
                    <td th:text="*{container}"/>
                </div>



            </tr>

            <select name="color">
                <option th:each="container : ${T(com.github.sammejanderson.StudyAssistApp.enums.Container).values()}"
                th:value="${container}" th:text="${container}"
                ></option>


            </select>


        </table>
    </div>
</div>

</body>
</html>